@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-nohemi: var(--font-nohemi);

  /* Custom Colors */
  --color-primary: #210940;
  --color-secondary: #D6B3FF;
  --color-cardBg: #EFEEF1;
  --color-black: #171617;
  --color-paragraphBlack: #CCCBCD;
  --color-paragraphWhite: #575757;

  /* Custom Spacing */
  --tracking-titleSpacingM: -0.045rem;
  --tracking-titleSpacingD: -0.075rem;
  --tracking-paragraphSpacingM: -0.009rem;
  --tracking-paragraphSpacingD: -0.013rem;

  /* Container Spacing */
  --section-container-max-width: 884px;
  --section-container-mobile-margin: 24px;
  --section-container-tablet-margin: 16px;
}

@layer base {
  h1, h2, h3, h4,h5, h6 {
    font-family: var(--font-nohemi);
  }

  p {
    font-family: var(--font-poppins);
  }
}


body {
  background: var(--background);
  font-family: var(--font-poppins);
}


@layer components {
  .section-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--section-container-mobile-margin);
    padding-right: var(--section-container-mobile-margin);
  }


  .hero-text {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: var(--tracking-titleSpacingM);
  }

  .p-hero-text {
    color: var(--color-paragraphWhite);
    font-size: 0.875rem;
    letter-spacing: var(--tracking-paragraphSpacingM);
    line-height: 100%;
  }

  /* Desktop View */
  @media (min-width: 768px) {
    .section-container {
      max-width: var(--section-container-max-width);
      padding-left: var(--section-container-tablet-margin);
      padding-right: var(--section-container-tablet-margin);
    }

    .hero-text {
      font-size: 2.5rem;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: var(--tracking-titleSpacingD);
    }

    .p-hero-text {
      font-size: 1.25rem;
      letter-spacing: var(--tracking-paragraphSpacingD);
    }
  }

  @media (min-width: 884px) {
    .section-container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
