@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-nohemi: var(--font-nohemi);

  /* Custom Colors */
  --color-primary: #210940;
  --color-secondary: #D6B3FF;
  --color-cardBg: #EFEEF1;
  --color-black: #171617;
  --color-paragraphBlack: #CCCBCD;
  --color-paragraphWhite: #575757;

  /* Custom Spacing */
  --tracking-titleSpacingM: -0.045rem;
  --tracking-titleSpacingD: -0.075rem;
  --tracking-paragraphSpacingM: -0.009rem;
  --tracking-paragraphSpacingD: -0.013rem;
}

@layer base {
  h1, h2, h3, h4,h5, h6 {
    font-family: var(--font-nohemi);
  }

  p {
    font-family: var(--font-poppins);
  }
}


body {
  background: var(--background);
  font-family: var(--font-poppins);
}


@layer components {
  .hero-text {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: var(--tracking-titleSpacingM);
  }

  .p-hero-text {
    color: var(--color-paragraphWhite);
    font-size: 0.875rem;
    letter-spacing: var(--tracking-paragraphSpacingM);
    line-height: 100%;
  }

  @media (min-width: 768px) {
    .hero-text {
      font-size: 2.5rem;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: var(--tracking-titleSpacingD);
    }

    .p-hero-text {
      font-size: 1.25rem;
      letter-spacing: var(--tracking-paragraphSpacingD);
    }
  }
}
